<div class="container">
  <h1 class="text-center">
    Welcome to our NG App Seed!<br>
  </h1>
  <nx-navigation (changeSources)="    this.$sourcesSelected.next($event.value)" (search)="this.$search.next($event)"></nx-navigation>
  <div class="v-space"></div>
  <nx-newstable [articles]="$articles |async" (sortChange)="$sorting.next($event)"></nx-newstable>
  <div class="v-space"></div>
  <nx-paginator [rowSize]="rowSize" [totalNews]="$totalArticles | async"
                (pageChange)="paginationChanged($event)">
  </nx-paginator>
  <p-growl [(value)]="msgs"></p-growl>

</div>

